<div class="st-jstree">
    <div class="tree-search-container">
        <input type="search" placeholder="Search inside tree" ng-model="searchText" ng-change="search()" class="form-control" />
    </div>
    <div class="tree-container"></div>
</div>
