<div class="btn-group" uib-dropdown auto-close="outsideClick">
    <button type="button" class="btn btn-default" ng-disabled="ngDisabled" uib-dropdown-toggle>
                {{selectionText}} <span class="caret"></span>
            </button>
    <div class="dropdown-menu" uib-dropdown-menu>
        <jstree model="model" options="options"></jstree>
    </div>
</div>