<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>angular controls demo</title>

    <link rel="stylesheet" href="/node_modules/jstree/dist/themes/default/style.css" />
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css" />
    <link rel="stylesheet" href="/dist/stcontrols.css" />

    <style>
        .options {
            display: inline-block;
            vertical-align: top;
        }

        .options label {
            display: block;
        }
    </style>
</head>

<body>
    <div ng-app="demo" ng-controller="DemoController" class="container">
        <div style="width:400px; display:inline-block;">
            <jstree model="model"></jstree>
            <jstree-dropdown model="model"></jstree-dropdown>
        </div>
        <div class="options">
            <label>
                <input type="checkbox" ng-model="options.multiple" ng-change="updateOptions()"/> Multiple
            </label>
            <div>
                <div>Sort By</div>
                <select ng-model="options.sortBy" ng-change="updateOptions()">
                    <option value="">None</option>
                    <option value="Name">Name</option>
                    <option value="Code">Code</option>
                    <option value="Lat">Lat</option>
                    <option value="Long">Long</option>
                    <option value="Altitude">Altitude</option>
                    <option value="Precision">Precision</option>
                    <option value="CatchmentLevelId">Catchment Level Id</option>
                </select>
            </div>
            <label>
                <input type="checkbox" ng-model="options.sort" ng-change="updateOptions()"/> Sort
            </label>
            <label>
                <input type="checkbox" ng-model="options.collapseSelected" ng-change="updateOptions()"/> Collapse selected by default
            </label>
            <label>
                <input type="number" min="-1" ng-model="selectableLevel" ng-change="updateSelectStyle()"/> Selectable level
            </label>
            <label>
                <input type="checkbox" ng-model="selectTop" ng-change="updateSelectStyle()"/> Select Top
            </label>
            
            <div>
                <div>Select</div>
                <select ng-options="item.Id as item.Name for item in allItems" multiple="multiple" ng-model="selectedList" ng-change="changeSelection()">
                </select>
            </div>

            <div>
                <div>Hide</div>
                <select ng-options="item.Id as item.Name for item in allItems" multiple="multiple" ng-model="hiddenList" ng-change="changeHidden()">
                </select>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/node_modules/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="/node_modules/lodash/lodash.js"></script>
    <script type="text/javascript" src="/node_modules/jstree/dist/jstree.js"></script>

    <script type="text/javascript" src="/dist/stcontrols.tpls.js"></script>

    <script>
        angular.module("demo", ["stcontrols"])
            .controller("DemoController", [
                "$scope",
                "$http",
                "JstreeModel",
                "$timeout",
                "nodeFilterFactory",
                function ($scope, $http, JstreeModel, $timeout, nodeFilterFactory) {
                    $scope.options = {};

                    var model = new JstreeModel("Id", "ParentId", "Name", true, $scope.options);
                    $scope.model = model;
                    model.setDisabledIds(["dn"]);
                    $scope.selectedList = [];
                    $scope.hiddenList = [];

                    function refresh() {
                        var promise = $http.get("/demo/data/catchment_list.json").then(function (response) {
                            $scope.allItems = response.data;
                            model.setItems($scope.allItems);
                        });
                    }
                    refresh();

                    $scope.updateOptions = function () {
                        model.setOptions($scope.options);
                        refresh();
                    };

                    $scope.updateSelectStyle = function () {
                        var filters = [];
                        if ($scope.selectableLevel > 0) {
                            filters.push(nodeFilterFactory.isInLevel($scope.selectableLevel));
                        } else {
                            filters.push(nodeFilterFactory.parentNotSelected());
                        }
                        model.setSelectionFilter(nodeFilterFactory.trueForAll(filters));
                    };

                    $scope.changeSelection = function () {
                        model.setSelectedIds($scope.selectedList);
                    };

                    $scope.changeHidden = function () {
                        model.setHiddenIds($scope.hiddenList);
                    }
                }
            ]);
    </script>
</body>

</html>